*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.wrapper{
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    background-color: #FFF5E2;
}

.container {
    height: 100%;
    width: 1200px;
    margin: 0 auto;
    background-color: #FFFFFF;;
  }
/* inizio classi nav */
.burger-nav{
    display: flex;
    flex-direction: row;
    height: 10%;
    background-color:#FDBB40;
    justify-content: space-between;
}

.burger-nav > div {
    width: 400px;
  }

.title-burger-nav{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end ;
}

/* .img-burger-nav{
    display: flex;
    flex-direction: row;
    why si storce?
} */

  .burger-nav > div > img {
    margin-left: 220px ;    
    padding-bottom: 30px;
    width: 50%;
    height: auto;
   }

   .ingredienti-container{
       display: flex;
       flex-direction: row;
   }

   .group-1, .group-2{
       display: flex;
       flex-direction: column;
       border: 2px solid black;
       width: 40%;
   }

   .single-ingredient-container{
       border: 2px solid red;
       display: flex;
       flex-direction: row;
   }

   .single-ingredient-container > img{
       width: 74.33px;
       height: 74.33px;
   }

   /* .group-2{
    display: flex;
    flex-direction: column;
    border: 2px solid black;
   } */
/* fine classi nav    */

/* inizio classi main */
.burger-main{
  height: 80%;
  border: 2px solid blue;  
  display: flex;
  flex-direction: column;
}

/* fine classi main */

/* inizio classi footer */
.burger-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 10%;
    background-color:#D33359;
}

.burger-footer > div {
    width: 400px; 
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #FFFFFF ;
  }

/* fine classi footer */