*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.wrapper{
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    background-color: #FFF5E2;
}

.container {
    height: 100%;
    width: 1200px;
    margin: 0 auto;
    background-color: #FFFFFF;
  }
/* inizio classi nav */
.burger-name-container{
    margin-top: 40px;
    margin-bottom: 20px;
}
#burger-name{
    border: none;
    font-size: 35px;;
}

.burger-nav{
    display: flex;
    flex-direction: row;
    height: 10%;
    background-color:#FDBB40;
    justify-content: space-between;
    padding-left: 15px;
}

.burger-nav > div {
    width: 400px;
  }

.title-burger-nav{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    font-size: 25px;
    padding-bottom: 15px;
}

/* .img-burger-nav{
    display: flex;
    flex-direction: row;
    why si storce?
} */

  .burger-nav > div > img {
    margin-left: 220px ;    
    padding-bottom: 30px;
    width: 50%;
    height: auto;
   }

 

/* fine classi nav    */

/* inizio classi main */
.burger-main{
  height: 80%;
  display: flex;
  flex-direction: column;
  padding-left: 15px;
}

.ingredienti-container{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 20px;
}

.group-1, .group-2{
    display: flex;
    flex-direction: column;
    width: 40%;
}

.single-ingredient-container{
    width: 60%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.single-ingredient-container > img{
    width: 74.33px;
    height: 74.33px;
}

.disocunt-container{
    display: flex;
    flex-direction: row;
}

.discount-container > span{
    font-size: 20px;
}

.button-discount-container{
 display: flex;
 flex-direction: row;
 justify-content: center;
 margin-top: 40px;
}

#coupon{
 background-color: #FFF5E2;
 border: none;
 width: 70%;
 height: 25px;
 border-radius: 5px;
}

#checkout{
 margin-right: 15px;
 width: 150px;
 height: 50px ;
 background-color: #FD7F40;
 border: 2px solid #000;
}

/* fine classi main */

/* inizio classi footer */
.burger-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 10%;
    background-color:#D33359;
    padding-left: 15px;
    padding-right: 15px;
}

.burger-footer > div {
    width: 400px; 
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #FFFFFF ;
  }

/* fine classi footer */